header(class="bg-light bg-body shadow-sm py-3 sticky-top")
  .container
    nav(class="navbar navbar-expand-lg", id="navbar")
      a(class="navbar-brand fs-2 text-primary", href="#") Ag Coding
      button(
        class="navbar-toggler",
        type="button",
        data-bs-toggle="collapse",
        data-bs-target="#main-navbar",
        aria-controls="main-navbar",
        aria-expanded="false",
        aria-label="Toggle navigation"
      ): span(class="fa-solid fa-bars fs-2")
      div(class="collapse navbar-collapse" id="main-navbar")
        ul(class="navbar-nav ms-auto text-sm-center fs-5")
          li.nav-item: a(class="user-select-none nav-link me-3 active", aria-current="page", href="#home") Home
          li.nav-item: a(class="user-select-none nav-link me-3", aria-current="page", href="#about") About
          li.nav-item: a(class="user-select-none nav-link me-3", aria-current="page", href="#services") Services
          li(class="nav-item dropdown")
            a(
              class="user-select-none nav-link dropdown-toggle",
              href="#",
              role="button",
              data-bs-toggle="dropdown",
              aria-expanded="false"
            ) Dropdown
            ul.dropdown-menu
              li: a(class="user-select-none dropdown-item" href="#") Link #1
              li: a(class="user-select-none dropdown-item" href="#") Link #2
              li: a(class="user-select-none dropdown-item" href="#") Link #3
          li.nav-item: a(class="user-select-none nav-link me-3" href="#portfolio") Portfolio
          li.nav-item: a(class="user-select-none nav-link" href="#contact") Contact